body{
    background-color:rosybrown;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* margin-top: 10%; */
}
.business-card{
    background-color: #fff0f5;
    width: 300px;
    padding:20px;
    margin: 100px;
    border: solid 5px #2f4f4f;
    text-align: center;
}
.profile-image{
    max-width: 100%;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
}
a{
    text-decoration: none;
}
.full-name{
    font-size: x-large;
    color: #2f4f4f;
    margin-top: 10px;
}
.designation{
    font-size: larger;
    color: #808080;
}
.company{
    color:#a9a9a9;
    padding-bottom: 10px;
}
.second-part{
    padding: 5px;
}
.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
